<footer class="footer">
    <div class="footer-container">
        <div class="footer-section footer-logo">
            <img src="/Assets/logo3.png" alt="Logo">
            <p>Smart Ambulance Services is a 24*7 Ambulance Booking Service. Provides a quick and affordable ambulance at your doorstep.</p>
            <div class="social-icons">
                <a href="">🏢</a>
                <a href="">💬</a>
                <a href="">🅕</a>
                <a href="">🌅</a>
            </div>
        </div>
        <div class="footer-section footer-links">
            <h5>Company</h5>
            <a href="/ambulance">Home</a>
            <a href="/aboutUs">About Us</a>
            <a href="/service">Services</a>
            <a href="/contact">Contact Us</a>
        </div>
        <div class="footer-section footer-links">
            <h5>Services</h5>
            <a href="#">Normal Ambulance</a>
            <a href="#">Oxygen Ambulance</a>
            <!-- <a href="#">Basic Life Support</a>
            <a href="#">Patient Transport</a> -->
            <a href="#">ICU Ventilator Ambulance</a>
            <a href="#">Shok Wahan </a>
        </div>
        <div class="footer-section footer-links">
            <h5>Support</h5>
            <p>Privacy Policy</p>
            <p>Refund Policy</p>
            <p>Cancellation Policy</p>
            <p>Terms and Conditions</p>
            <h5>Get In Touch</h5>
            <p>Email: support@yourproject.com</p>
            <p>Phone: +91XXXXXXXXXX</p>
        </div>
    </div>
    <div class="button-container">
        <a href="/book-ambulance"><button class="btn btn-dark">🚑 Book Ambulance</button></a>
        <!-- <button class="btn btn-light">📥 Download for Android</button> -->
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy; 2025 Your Project. All rights reserved.</p>
    </div>
</footer>

<button class="back-to-top" onclick="scrollToTop()">&#8679;</button>

<script>
    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }
</script>